<table class="table table-striped" id="table-users">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Gender</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% for(var i = 0; i < users.length; i++) { %>
            <tr>
                <td><%= users[i].name %></td>
                <td><%= users[i].email %></td>
                <td><%= users[i].role %></td>
                <td><%= users[i].gender %>
                    <% if(users[i].gender == 'Male') { %>
                        <i class="fa fa-mars" style="color: #37badf;"></i></i>
                    <% } else { %> 
                        <i class="fa fa-venus" style="color: #ff78cb;"></i></i>
                    <% } %>
                </td>
                <td>
                    <% if(users[i].status == 'Active'){ %>
                        <span class="badge bg-success"><%= users[i].status %></span>
                    <% } else{ %>
                        <span class="badge bg-danger"><%= users[i].status %></span>
                    <% } %>
                </td>
                <td>
                    <div class="button" style="display: inline-flex;">
                        <a href="/update-user?id=<%= users[i]._id%>" class="btn btn-info btn-sm" style="border-top-right-radius:0;border-bottom-right-radius:0;">Edit</a>
                        <a id="delete-users" data-id="<%= users[i]._id%>" class="btn btn-dark btn-sm" style="border-top-left-radius:0;border-bottom-left-radius:0;">Delete</a>
                    </div>
                </td>
            </tr>
        <% } %>
            
    </tbody>
</table>
