<table class="table table-striped" id="table-role">
    <thead>
        <tr>
            <th>Nama</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% for(var i = 0; i < role.length; i++) { %>
            <tr>
                <td><%= role[i].name %></td>
                <td>
                    <% if(role[i].status == 'Active'){ %>
                        <span class="badge bg-success"><%= role[i].status %></span>
                    <% } else{ %>
                        <span class="badge bg-danger"><%= role[i].status %></span>
                    <% } %>
                </td>
                <td>
                    <div class="button" style="display: inline-flex;">
                        <a href="/update-role?id=<%= role[i]._id%>" class="btn btn-info btn-sm" style="border-top-right-radius:0;border-bottom-right-radius:0;">Edit</a>
                        <a id="delete-role" data-id="<%= role[i]._id%>" class="btn btn-dark btn-sm" style="border-top-left-radius:0;border-bottom-left-radius:0;">Delete</a>
                    </div>
                </td>
            </tr>
        <% } %>
            
    </tbody>
</table>
