<% 
    master = '',user = '',member = '',buku = '',kategori = '',role = '',kasir = '',pinjam = '',kembali = '',laporan = '',rekap_penjualan = ''

    if(menu == 'master') {
        master = 'active'
    } else if (menu == 'user'){
        user = 'active'
    } else if (menu == 'member'){
        member = 'active'
    } else if (menu == 'buku'){
        buku = 'active'
    } else if (menu == 'kategori'){
        kategori = 'active'
    } else if (menu == 'role'){
        role = 'active'
    } else if (menu == 'status_user'){
        status_user = 'active'
    } else if (menu == 'kasir'){
        kasir = 'active'
    } else if (menu == 'pinjam'){
        pinjam = 'active'
    } else if (menu == 'kembali'){
        kembali = 'active'
    } else if (menu == 'laporan'){
        laporan = 'active'
    } else if (menu == 'rekap_penjualan'){
        rekap_penjualan = 'active'
    } 
%>


<div id="sidebar" class="active">
    <div class="sidebar-wrapper active">
        <div class="sidebar-header">
            <div class="d-flex justify-content-between">
                <div class="logo">
                    <a href="index.html"><img src="images/logo/logo.png" alt="Logo" srcset=""></a>
                </div>
                <div class="toggler">
                    <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                </div>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul class="menu">
                <li class="sidebar-title">Master</li>
                <li class="sidebar-item <%- master %>">
                
                    <a href="/" class='sidebar-link'>
                        <i class="bi bi-wallet-fill"></i>
                        <span>Pengumuman</span>
                    </a>
                </li>
                <li class="sidebar-item  <%- user %>">
                    <a href="/users" class='sidebar-link'>
                        <i class="bi bi-person-check-fill"></i>
                        <span>User</span>
                    </a>
                </li>
                <li class="sidebar-item  <%- member %>">
                    <a href="/member" class='sidebar-link'>
                        <i class="bi bi-person-check-fill"></i>
                        <span>Member</span>
                    </a>
                </li>
                <li class="sidebar-item  <%- role %>">
                    <a href="/role" class='sidebar-link'>
                        <i class="bi bi-people"></i>
                        <span>Role</span>
                    </a>
                </li>
                <li class="sidebar-item  <%- buku %>">
                    <a href="/buku" class='sidebar-link'>
                        <i class="bi bi-book-fill"></i>
                        <span>Buku</span>
                    </a>
                </li>

                <li class="sidebar-item  <%- kategori %>">
                    <a href="/kategori" class='sidebar-link'>
                        <i class="bi bi-plus-circle-fill"></i>
                        <span>Kategori</span>
                    </a>
                </li>
            </ul>
            <ul class="menu">
                <li class="sidebar-title">Pencatatan</li>
               
                <li class="sidebar-item  <%- pinjam %>">
                    <a href="/pinjam" class='sidebar-link'>
                        <i class="bi bi-inboxes-fill"></i>
                        <span>Peminjaman</span>
                    </a>
                </li>

                <li class="sidebar-item  <%- kembali %>">
                    <a href="/kembali" class='sidebar-link'>
                        <i class="bi bi-inboxes-fill"></i>
                        <span>Pengembalian</span>
                    </a>
                </li>

            </ul>
            <ul class="menu">
                <li class="sidebar-title">Laporan</li>
               
                <li class="sidebar-item  <%- rekap_penjualan %>">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-file-earmark-bar-graph-fill"></i>
                        <span>Rekap Penjualan</span>
                    </a>
                </li>

            </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
</div>